html {
	font-size: 14px
}

body {
	padding-top: 10px;
	padding-bottom: 10px;
}

.uoj-content {
	min-height: 250px;
}

.uoj-footer {
	text-align: center;
	margin-top: 20px;
	padding-top: 20px;
	color: gray;
	border-top: 1px solid #e5e5e5;
	line-height: 10px;
}
.uoj-footer a {
	color: gray;
}

.page-header {
	/* padding-bottom: 9px; */
	margin-top: 40px;
	/* border-bottom: 1px solid #eee; */
}
.page-info {
	padding-bottom: 9px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
}

a.header-a {
	color: #333;
}

a sup {
	text-decoration: none;
	display: inline-block;
}
a sub {
	text-decoration: none;
	display: inline-block;
}

.indent2 {
	text-indent: 2em;
}

/* article p {
	text-indent: 2em;
} */
.markdown-editor-out p {
	text-indent: 2em;
	word-break: break-all;
}

article img {
	vertical-align: baseline
}

pre {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	padding: 9.5px;
	margin: 0 0 10px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.uoj-username {
	font-weight: 800;
}

.uoj-honor {
	font-weight: 800;	
}
.uoj-score {
	font-weight: 700;
}

.card-header {
	height: 45px;
}

.card-uoj-accepted>.card-header {
	cursor:pointer;
}
.card-uoj-accepted>.card-header> div > div:nth-child(3){
	color: rgb(0, 204, 0);
	font-weight: bold;
}
.card-uoj-accepted>.card-header:hover {
	background-color: rgba(0,0,0,.01);
}
.card-uoj-wrong>.card-header {
	cursor:pointer;
}
.card-uoj-wrong>.card-header> div > div:nth-child(3){
	color: rgb(204, 0, 0);
	font-weight: bold;
}
.card-uoj-wrong>.card-header:hover {
	background-color: rgba(0,0,0,.01);
}
.card-uoj-acceptable-answer>.card-header {
	cursor:pointer;
}
.card-uoj-acceptable-answer>.card-header> div > div:nth-child(3){
	color: rgb(230, 138, 0);
	font-weight: bold;
}
.card-uoj-acceptable-answer>.card-header:hover {
	background-color: rgba(0,0,0,.01);
}
.card-uoj-tle>.card-header {
	cursor:pointer;
}
.card-uoj-tle>.card-header> div > div:nth-child(3){
	color: rgb(230, 138, 0);
	font-weight: bold;
	white-space: nowrap;
}
.card-uoj-tle>.card-header:hover {
	background-color: rgba(0,0,0,.01);
}


.table-text-center>thead>tr>th {
	text-align: center;
}
.table-text-center>tbody>tr>td {
	text-align: center;
}

.table-vertical-middle>thead>tr>th {
	vertical-align: middle;
}
.table-vertical-middle>tbody>tr>td {
	vertical-align: middle;
}

.top-buffer-no {
	margin-top: 0px;
}
.top-buffer-xs {
	margin-top: 3px;
}
/* .top-buffer-sm {
	margin-top: 5px;
} */
.top-buffer-md {
	margin-top: 10px;
}
.top-buffer-lg {
	margin-top: 30px;
}

.bot-buffer-no {
	margin-bottom: 0px;
}
.bot-buffer-xs {
	margin-bottom: 3px;
}
.bot-buffer-sm {
	margin-bottom: 5px;
}
.bot-buffer-md {
	margin-bottom: 10px;
}
.bot-buffer-lg {
	margin-bottom: 30px;
}

.glyphicon-ok, .glyphicon-ok-sign {
	color: green;
}
.glyphicon-remove, .glyphicon-remove-sign {
	color: red;
}

.comt {
}

.comtposterbox {
	text-align:center;
}
.comtbox {
	width: 100%;
}
.comtbox1 {
	white-space: pre-wrap;
	word-break: break-all;
	min-height: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.comtbox2 {
	text-align: right;
}
.comtbox3 {
	display: inline-block;
	margin-right: 5px;
}
.comtbox4 {
	display: inline-block;
}
.comtbox5 {
	background-image: -webkit-linear-gradient(top, #f5f5f5 0, #fafafa 100%);
	background-image: -o-linear-gradient(top, #f5f5f5 0, #fafafa 100%);
	background-image: linear-gradient(to bottom, #f5f5f5 0, #fafafa 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fffafafa', GradientType=0);
	border-color: #dcdcdc;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
	padding: 9px;
	border-radius: 3px;
	
	min-height: 20px;
	margin-bottom: 20px;
	border: 1px solid #e3e3e3;

	margin-top: 10px;
}
.comtbox6 {
	white-space: pre-wrap;
	word-break: break-all;
}
.comtbox7 {
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #fafafa 100%);
	background-image: -o-linear-gradient(top, #f5f5f5 0%, #fafafa 100%);
	background-image: linear-gradient(to bottom, #f5f5f5 0%, #fafafa 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fffafafa', GradientType=0);
	border-color: #dcdcdc;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
	border-radius: 3px;
	
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top:10px;
	white-space: nowrap;
	padding-bottom: 10px;
	border: 1px solid #e3e3e3;
	
	text-align: left;
}
.comtbox8 {
	background-image: -webkit-linear-gradient(top, #ffffff 100%, #fafafa 0%);
	background-image: -o-linear-gradient(top, #ffffff 100%, #fafafa 0%);
	background-image: linear-gradient(to bottom, #ffffff 100%, #fafafa 0%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fffafafa', GradientType=0);
	border-color: #dcdcdc;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
	border-radius: 3px;
	
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top:10px;
	white-space: nowrap;
	padding-bottom: 10px;
	border: 1px solid #e3e3e3;
	
	text-align: left;
}

.question-content {
	max-height: 100px;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-all;
}

.uoj-click-zan-block {
	display: inline-block;
	min-width: 140px;
	text-align: left;
}

.uoj-click-zan-up, .uoj-click-zan-down, .uoj-click-zan-cnt {
	margin-left: 5px;
	margin-right: 5px;
}

.uoj-click-zan-block-cur-up .uoj-click-zan-up {
	color: green;
	font-weight: 700;
}
.uoj-click-zan-block-cur-down .uoj-click-zan-down {
	color: red;
	font-weight: 700;
}
.uoj-click-zan-block-cur-down .uoj-click-zan-up, .uoj-click-zan-block-cur-up .uoj-click-zan-down {
	color: gray;
}

.uoj-click-zan-block-positive .uoj-click-zan-cnt {
	color: green;
}
.uoj-click-zan-block-neutral .uoj-click-zan-cnt {
	color: gray;
}
.uoj-click-zan-block-negative .uoj-click-zan-cnt {
	color: red;
}

.uoj-problem-tag {
	margin-left: 5px;
	margin-right: 5px;
}
.uoj-blog-tag {
	margin-left: 5px;
	margin-right: 5px;
}

.uoj-status-details-img-div {
	display:inline-block;
	width:50%;
	padding-right:10px;
	text-align:right;
}
.uoj-status-details-text-div {
	display:inline-block;
	width:50%;
	padding-left:10px;
	text-align:left;
}



/* global */
#mylogo {
	display: block!important;		
}
.container {
    max-width: 	960px;
}
.nav.nav-pills.float-right {
	margin-top: 7px;
}

.nav-tabs {
	background: rgb(250,250,250);
    margin: 20px 0;
}
.nav-link {
	padding: 7px 30px;
}
.nav-link .glyphicon{
	margin-right: 10px;
}
@media (max-width: 420px) {
	.nav-link {
		padding: 7px 20px;
	}
	.nav-link .glyphicon{
		margin-right: 5px;
	}
	#mylogo img{
		height: 32px!important;
	}
}

body > div > ul a{
	color: #6c757d;
}
body > div > ul a:hover{
	color: #495057;
}

.row {
    margin-right: 0;
    margin-left: 0;
}


/* problem */
.uoj-content > div.d-none.d-sm-block {
	margin-top: 30px;
}

article {
	padding-bottom: 30px;
	border-bottom: 1px solid #eee;
	margin-bottom: -10px;
}

#form-group-answer_answer > div.row.col-sm-12 {
	background: #f8f9fa;
    border: 1px solid #c2c7d0;
	padding: 8px;
	margin: 0;
}
#form-group-answer_answer > div.row.col-sm-12 > *{
	display: none;
}
#form-group-answer_answer > div.row.col-sm-12 > label.col-sm-1.control-label {
	display: block;
	padding: 5px 0 0 15px;
	max-width: 100%;
    flex: 0 0 50px;
}
#form-group-answer_answer > div.row.col-sm-12 > div:nth-child(3) {
	display: block;
	max-width: 100%;
    flex: 0 0 160px;
}
#div-answer_answer_editor {
	padding: 0;
}
#div-answer_answer_editor > div.checkbox.text-right{
	display: none;
}
#div-answer_answer_editor > div.CodeMirror.cm-s-default.CodeMirror-wrap {
	box-shadow: none!important;
    border: 1px solid lightgray;
}

#form-answer {
	margin-top: 30px;
}

.CodeMirror {
	height: 450px!important;
}


/* submission list */
#form-search {
	margin-bottom: 10px;
}
#form-search div {
	margin-right: 20px;
}
#form-search div label {
	margin-right: 10px;
}

#form-group-language {
	display: none;
}

table td:first-child, th:first-child {
	display: none;
}

/* submission detail */
#details_details_accordion > div.text-right.text-muted {
	text-align: left!important;
	margin-bottom: 10px;
}

/* profile */
#form-update > * {
	display: none;
}
#div-password, #form-update > div:last-child{
	display: block;
}
#input-password {
	margin-bottom: 10px;
}
